<section
    class="xl:w-[430px] h-full hidden 2xl:flex flex-col text-center p-5 text-white bg-cover bg-[url('/assets/auth/layout-hero.webp')]">
    <article class="flex-1 flex items-start justify-center">
        <a class="block w-[200px] focus-outline" [routerLink]="['/']" title="Ir a el inicio" aria-label="Ir a el inicio"><facthor-logo /></a>
    </article>
    <article>
        <h2 class="text-2xl font-semibold">EN FACTHOR</h2>
        <p class="text-sm font-light text-white/80">
            Valoramos las relaciones a largo plazo con nuestros clientes, basadas
            en la honestidad y la transparencia.
        </p>
    </article>
</section>