<form [formGroup]="_roleForm" (ngSubmit)="_onSubmit()"
    class="h-full flex flex-col gap-[2.5vh] text-[1.7vh] animate-opacity-in">
    <section>
        <h1 class="text-[2.5vh] font-semibold">Empresa y representante legal</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text-[1.7vh] text-foreground/40">
            Este es el inicio en el mundo del factoring, por favor, completa
            toda la información siguiendo las instrucciones.
        </p>
    </section>
    <section class="relative flex-1 flex flex-col lg:flex-row gap-[2.5vh]">
    </section>
</form>