<form
    [formGroup]="_businessForm"
    class="flex flex-col gap-5 animate-opacity-in">
    <section>
        <h1 class="text-2xl font-semibold">Información de la empresa</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text- text-foreground/50">
            Por favor, completa
            toda la información siguiendo las instrucciones.
        </p>
    </section>
    <section class="relative grid place-content-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        <frs-field [label]="'Tipo de persona'">
            <frs-input
                #field
                [control]="_businessPersonType"
                [placeholder]="'Jurídica'"
                [disabled]="true"
            />
        </frs-field>

        <frs-field [label]="'Empresa'">
            <frs-input
                #field
                [control]="_businessName"
                [placeholder]="'Ingrese el nombre de la empresa'"
            />
        </frs-field>

        <frs-field [label]="'Nombre comercial'">
            <frs-input
                #field
                [control]="_businessTradeName"
                [placeholder]="'Ingrese el nombre comercial'"
            />
        </frs-field>

        <frs-field [label]="'Ingrese el NIT'">
            <frs-input
                #field
                [control]="_businessNit"
                [placeholder]="'123456789-6'"
            />
        </frs-field>

        <frs-field [label]="'Actividad económica'">
            <frs-combobox #field [control]="_businessEconomicActivity">
                <frs-combobox-trigger [placeholder]="'Seleccione una actividad económica'" />
                <frs-combobox-options [options]="_economicActivities" />
            </frs-combobox>
        </frs-field>

        <frs-field [label]="'País'">
            <frs-input
                #field
                [control]="_businessCountry"
                [placeholder]="'Colombia'"
                [disabled]="true"
            />
        </frs-field>

        <frs-field [label]="'Departamento de nacimiento'">
            <frs-select
                #field
                [position]="'top'"
                [control]="_businessDepartment">
                <frs-select-trigger [placeholder]="'Seleccione un departamento'" />
                <frs-select-options [options]="_departments() || []" />
            </frs-select>
        </frs-field>

        <frs-field [label]="'Ciudad de nacimiento'">
            <frs-select
                #field
                [position]="'top'"
                [control]="_businessCity"
                [disabled]="_businessCityDisabled()">
                <frs-select-trigger [placeholder]="'Seleccione una ciudad'" />
                <frs-select-options [options]="_businessCities() || []" />
            </frs-select>
        </frs-field>

        <div class="flex flex-col col-span-1 md:col-span-2">
            <span class="text-sm">Dirección <span class="text-red-400">*</span></span>
            <div class="flex items-baseline flex-wrap gap-5 ">
                <frs-field [showAsterisk]="false">
                    <frs-select #field [control]="_businessAddressStreet">
                        <frs-select-trigger [class]="'w-36'" [placeholder]="'Seleccione'" />
                        <frs-select-options [options]="_addressStreets" />
                    </frs-select>
                </frs-field>
        
                <frs-field 
                    [showAsterisk]="false"
                    [class]="'[&_input::placeholder]:text-center [&_input]:text-center'">
                    <div class="flex items-center gap-5">
                        <frs-input
                            #field
                            [control]="_businessAddressStreetNumber"
                            [placeholder]="'53'"
                            [class]="'w-20'"
                        />
                        <span>#</span>
                    </div>
                </frs-field>
        
                
                <frs-field
                    [showAsterisk]="false"
                    [class]="'[&_input::placeholder]:text-center [&_input]:text-center'">
                    <div class="flex items-center gap-5">
                        <frs-input
                            #field
                            [control]="_businessAddressStreetSecondaryNumber"
                            [placeholder]="'46'"
                            [class]="'w-20'"
                        />
                        <span>-</span>
                    </div>
                </frs-field>
                
                
                <frs-field
                    [showAsterisk]="false"
                    [class]="'[&_input::placeholder]:text-center [&_input]:text-center'">
                    <frs-input
                        #field
                        [control]="_businessAddressStreetBuildNumber"
                        [placeholder]="'192'"
                        [class]="'w-20'"
                    />
                </frs-field>
        
                <frs-field
                    [showAsterisk]="false"
                    [class]="'flex-1'">
                    <frs-input
                        #field
                        [control]="_businessAddressStreetComplement"
                        [placeholder]="'Complemento'"
                    />
                </frs-field>
            </div>
        </div>

        <frs-field [label]="'Correo electrónico'">
            <frs-input
                #field
                [control]="_businessEmail"
                [placeholder]="'Ingrese el correo electrónico'"
            />
        </frs-field>

        <div class="flex items-start flex-wrap gap-5">
            <frs-field
                [label]="'Prefijo'"
                    [showAsterisk]="false"
                [class]="'[&_input::placeholder]:text-center [&_input]:text-center'">
                <frs-input
                    #field
                    [control]="_businessPrefix"
                    [placeholder]="'+57'"
                    [type]="'custom'"
                    [decorator]="'+'"
                    [mask]="'xxx'"
                    [regex]="'[^\\d]'"
                    [disabled]="false"
                    [class]="'w-16'"
                />
            </frs-field>
    
            <frs-field [label]="'Número de celular'" [class]="'flex-1'">
                <frs-input
                    #field
                    [control]="_businessPhoneNumber"
                    [placeholder]="'Ingrese el número de celular'"
                    [type]="'custom'"
                    [mask]="'xxx-xxx-xxxx'"
                    [fill]="' '"
                    [regex]="'[^\\d]'"
                />
            </frs-field>
        </div>
    </section>
    <section class="mt-5">
        <h1 class="text-2xl font-semibold">Información del representante legal</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text- text-foreground/50">
            Por favor, completa
            toda la información siguiendo las instrucciones.
        </p>
    </section>
    <section class="relative grid place-content-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        <frs-field [label]="'Primer nombre'">
            <frs-input
                #field
                [control]="_legalRepresentativeName"
                [placeholder]="'Ingrese el primer nombre'"
            />
        </frs-field>

        <frs-field [label]="'Segundo nombre'">
            <frs-input
                #field
                [control]="_legalRepresentativeSurName"
                [placeholder]="'Ingrese el segundo nombre'"
            />
        </frs-field>

        <frs-field [label]="'Primer apellido'">
            <frs-input
                #field
                [control]="_legalRepresentativeLastName"
                [placeholder]="'Ingrese el primer apellido'"
            />
        </frs-field>

        <frs-field [label]="'Segundo apellido'">
            <frs-input
                #field
                [control]="_legalRepresentativeSurLastName"
                [placeholder]="'Ingrese el segundo apellido'"
            />
        </frs-field>

        <frs-field [label]="'Cargo'">
            <frs-input
                #field
                [control]="_legalRepresentativeCharge"
                [placeholder]="'Ingrese el cargo'"
            />
        </frs-field>

        <frs-field [label]="'Área'">
            <frs-input
                #field
                [control]="_legalRepresentativeArea"
                [placeholder]="'Ingrese el área'"
            />
        </frs-field>

        <frs-field [label]="'Número de documento'">
            <frs-input
                #field
                [control]="_legalRepresentativeDocumentNumber"
                [placeholder]="'Ingrese el número de CC'"
                [type]="'currency'"
                [mask]="'xxxxxxxxxx'"
                [decorator]="''"
                [formatStyle]="'European'"
            />
        </frs-field>

        <frs-field [label]="'Fecha de nacimiento'">
            <frs-date-picker
                #field
                [position]="'top'"
                [control]="_legalRepresentativeBirthdate"
                [class]="'w-full'"
                [formatType]="'isoShort'"
                [disabled]="false"
                [placeholder]="'Seleccionar fecha'"
            />
        </frs-field>

        <frs-field [label]="'País de nacimiento'">
            <frs-input
                #field
                [control]="_legalRepresentativeBirthCountry"
                [placeholder]="'Colombia'"
                [disabled]="true"
            />
        </frs-field>

        <frs-field [label]="'Departamento de nacimiento'">
            <frs-select
                #field
                [position]="'top'"
                [control]="_legalRepresentativeBirthDepartment">
                <frs-select-trigger [placeholder]="'Seleccione un departamento'" />
                <frs-select-options [options]="_departments() || []" />
            </frs-select>
        </frs-field>

        <frs-field [label]="'Ciudad de nacimiento'">
            <frs-select
                #field
                [position]="'top'"
                [control]="_legalRepresentativeBirthCity"
                [disabled]="_legalRepresentativeBirthCityDisabled()">
                <frs-select-trigger [placeholder]="'Seleccione una ciudad'" />
                <frs-select-options [options]="_legalRepresentativeBirthCities() || []" />
            </frs-select>
        </frs-field>
        
        <frs-field [label]="'Fecha de expedición'">
            <frs-date-picker
                #field
                [position]="'top'"
                [control]="_legalRepresentativeExpeditionDate"
                [class]="'w-full'"
                [formatType]="'isoShort'"
                [disabled]="false"
                [placeholder]="'Seleccionar fecha'"
            />
        </frs-field>

        <frs-field [label]="'País de expedición'">
            <frs-input
                #field
                [control]="_legalRepresentativeExpeditionCountry"
                [placeholder]="'Colombia'"
                [disabled]="true"
            />
        </frs-field>

        <frs-field [label]="'Departamentos de expedición'">
            <frs-select #field [position]="'top'" [control]="_legalRepresentativeExpeditionDepartment">
                <frs-select-trigger [placeholder]="'Seleccione un departamento'" />
                <frs-select-options [options]="_departments() || []" />
            </frs-select>
        </frs-field>

        <frs-field [label]="'Ciudad de expedición'">
            <frs-select
                #field
                [position]="'top'"
                [control]="_legalRepresentativeExpeditionCity"
                [disabled]="_legalRepresentativeExpeditionCityDisabled()">
                <frs-select-trigger [placeholder]="'Seleccione una ciudad'" />
                <frs-select-options [options]="_legaRepresentativeExpeditionCities() || []" />
            </frs-select>
        </frs-field>

        <div class="flex items-start flex-wrap gap-5">
            <frs-field
                [label]="'Prefijo'"
                [class]="'[&_input::placeholder]:text-center [&_input]:text-center'">
                <frs-input
                    #field
                    [control]="_legalRepresentativePrefix"
                    [placeholder]="'+57'"
                    [type]="'custom'"
                    [decorator]="'+'"
                    [mask]="'xxx'"
                    [regex]="'[^\\d]'"
                    [class]="'w-16'"
                />
            </frs-field>
    
            <frs-field [label]="'Número de celular'" [class]="'flex-1'">
                <frs-input
                    #field
                    [control]="_legalRepresentativePhoneNumber"
                    [placeholder]="'Ingrese el número de celular'"
                    [type]="'custom'"
                    [mask]="'xxx-xxx-xxxx'"
                    [fill]="' '"
                    [regex]="'[^\\d]'"
                />
            </frs-field>
        </div>
    </section>
</form>
