<section class="w-full h-full flex flex-col !font-light">
	<main class="flex-1 h-full flex flex-col justify-center">
		<payer-history-table-filters
			[roleExecution]="_roleExecution()?.id || 0"
			[isLoadingApiGetPayerOperationsHistory]="_isLoadingApiGetPayerOperationsHistory()"
			[filterFunction]="_getPayerOperationsHistoryForFilter.bind(this)"
			class="w-full flex justify-end gap-2.5 p-2.5"
		/>

		<hr />

		<article class="flex-1 flex flex-col p-2.5">
			@if (_isLoadingApiGetPayerOperationsHistory()) {
				<general-loader [message]="'Cargando operaciones activas...'" />
			} @else {
				<div class="w-full h-[calc(100dvh-198px)] overflow-auto">
					@if(_payerOperationsHistory()?.data?.length) {

						<inherit-table class="min-w-[960px] h-full flex-1 animate-opacity-in">
							@for (header of _headers; track $index; let first = $first) {
								<th class="w-72">
                                    <span [ngClass]="{ 'pl-2.5': first }" class="block text-start">
                                        @if ($index === 5) {
											@switch (_roleExecution()?.id) {
												@case (_eRoleExecution.PAYER) {
													<td>total a pagar</td>
												}

												@default {
													<td>{{ header }}</td>
												}
											}
										} @else {
											{{ header }}
										}
                                    </span>
								</th>
							}

							@for (column of _payerOperationsHistory()?.data; track $index) {
								<tr>
									<td class="pl-2.5">{{ column.orderNumber }}</td>

									<td [title]="column.payerIdentificationNumber">
										<span class="block w-40 uppercase">
											{{ column.payerIdentificationNumber }}
										</span>
									</td>

									<td [title]="column.payerLegalName">
										<span class="block w-60 line-clamp-1 overflow-hidden truncate">
											{{ column.payerLegalName }}
										</span>
									</td>


									<td>
										<order-status
											[statusId]="column.idOperationState"
											[statusName]="column.operationStateName"
										/>
									</td>

									<td>
										<order-status
											[statusId]="column.idPayerOperationState"
											[statusName]="column.payerOperationStateName || '-'"
										/>
									</td>

									<td>{{ column.totalInvoiceAmount | currency }}</td>

									<td>{{ column.operationDate.split('T')[0] }}</td>

									<td>
										<a
											frs-button
											[title]="`Ver detalles de la operación: ${column.orderNumber}`"
											[variant]="'link'"
											[routerLink]="['/dashboard/operations-history-management/payer-history/details']"
											[queryParams]="{ operation: column.id, session: _sessionKey() }"
											[class]="'px-0 justify-start text-xs uppercase'"
										>
											ver detalles
										</a>
									</td>
								</tr>
							}
						</inherit-table>
					} @else {
						<empty-result />
					}
				</div>
			}
		</article>
	</main>

	<hr />

	<inherit-table-footer
		[totalPages]="_payerOperationsHistory()?.countPages || 0"
		[currentPage]="_getPayerOperationsHistoryParams().Page || 1"
		[paginatorFunction]="_getPayerOperationsHistoryForPaginator.bind(this)"
		class="h-14 flex items-center justify-end gap-2.5 !text-[0.80rem] p-2.5 animate-opacity-in"
	/>
</section>
