<section class="w-full h-full flex flex-col !font-light">
    <main class="flex-1 h-full flex flex-col justify-center overflow-auto">
        <view-active-operations-table-filters
            [roleExecution]="_roleExecution()?.id || 0"
            [isLoadingApiGetInvoiceList]="_isLoadingApiGetInvoiceList()"
            [filterFunction]="getActiveOperationListForFilter.bind(this)"
            class="w-full flex items-center justify-end gap-2.5 p-2.5 overflow-visible" />
        <hr>
        <article class="flex-1 flex flex-col p-2.5">
            @if (_isLoadingApiGetInvoiceList()) {
                <div class="flex-1 h-full grid place-content-center gap-2.5">
                    <facthor-logo-animated  class="size-10 mx-auto" />
                    <span class="font-light text-sm text-center text-foreground/60 animate-pulse">
                        Cargando operaciones activas...
                    </span>
                </div>
            } @else {
                <div class="min-w-[1364px] w-full h-[calc(100dvh-205px)] overflow-auto">
                    <inherit-table class="min-w-[960px] h-full flex-1 animate-opacity-in">
                        @for (header of _headers; track $index; let first = $first) {
                            <th class="w-72"><span [ngClass]="{'pl-2.5': first}" class="block text-start">{{ header }}</span></th>
                        }
        
                        @for (column of _invoices()?.data; track $index) {
                            <tr>
                                <td class="pl-2.5">{{ column.orderNumber }}</td>
                                <td class="pl-2.5">{{ column.financierIdentificationNumber }}</td>
                                <td [title]="column.financierLegalName">
                                    <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                        {{ column.financierLegalName }}
                                    </span>
                                </td>
                                <td [title]="column.payerLegalName">
                                    <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                        {{ column.payerLegalName }}
                                    </span>
                                </td>
                                <td>
                                    <order-status
                                        [statusId]="column.idOperationState"
                                        [statusName]="column.operationStateName"    
                                    />
                                </td>
                                <td>{{ column.totalAmountToFinance | currency }}</td>
                                <td>{{ column.operationDate.split('T')[0] }}</td>
                                <td>
                                    <button
                                        [title]="'Ver detalles de la operación: ' + column.orderNumber"
                                        frs-button
                                        [size]="'icon'"
                                        [variant]="'ghost'"
                                    >
                                        <i-lucide [img]="_eyeIcon" />
                                    </button>
                                </td>
                            </tr>
                        }
                    </inherit-table>
                </div>
            }
        </article>
    </main>
    <hr>
    <inherit-table-footer
        [totalPages]="_invoices()?.countPages || 1"
        [paginatorFunction]="getActiveOperationListForPaginator.bind(this)"
        class="h-12 flex items-center justify-end gap-2.5 !text-[0.80rem] p-2.5 animate-opacity-in"
    />
</section>