<view-card
	[title]="'Formulario de asignación de parámetros'"
	class="w-full h-full"
>
	<div class="w-full h-fit grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2.5 p-1">
		<frs-field [label]="'Días mínimos de financiación'">
			<frs-input
				#field
				[control]="minDaysFinancing()"
				[type]="'custom'"
				[mask]="'xx'"
				[regex]="'(^0)|(^\\.)|[^\\d]'"
				[placeholder]="'Ingrese los días mínimos'"
			/>
		</frs-field>

		<frs-field [label]="'Días máximos de financiación'">
			<frs-input
				#field
				[control]="maxDaysFinancing()"
				[mask]="'xx'"
				[regex]="'(^0)|(^\\.)|[^\\d]'"
				[placeholder]="'Ingrese los días máximos'"
			/>
		</frs-field>

		<frs-field [label]="'Monto asignado'">
			<frs-input
				#field
				[control]="amountAssigned()"
				[type]="'currency'"
				[regex]="'(^0)|(^\\.)|[^\\d]'"
				[mask]="'xxxxxxxxx'"
				[decorator]="'$'"
				[placeholder]="'Ingrese el monto asignado'"
			/>
		</frs-field>

		<frs-field [label]="'Tasa de interés'">
			<frs-input
				#field
				[control]="interestPercentage()"
				[type]="'custom'"
				[mask]="'xxxxx'"
				[decorator]="'%'"
				[regex]="'(^0)|(^\\.)|[^\\d\\.]|(?<=10)[1-9]|(?<=1[1-9])\\d|(?<=[2-9]\\d)\\d|(?<=^100\\.)[^0]|(?<=^100\\.0)[^0]|(?<=\\d{3})(?!\\.).|\\..*\\.|(?<=\\.\\d{2})\\d'"
				[placeholder]="'Ingrese la tasa de interés'"
			/>
		</frs-field>

		<frs-field [label]="'Tiempo de actualización (meses)'">
			<frs-input
				#field
				[control]="amountAssignedMonthUpdate()"
				[mask]="'xx'"
				[regex]="'(^0)|(^\\.)|[^\\d]'"
				[placeholder]="'Ingrese los meses'"
			/>
		</frs-field>

		<frs-field [label]="'Porcentaje de negociación'">
			<frs-input
				#field
				[control]="operationPercentage()"
				[type]="'custom'"
				[mask]="'xxxxx'"
				[decorator]="'%'"
				[regex]="'(^0)|(^\\.)|[^\\d\\.]|(?<=10)[1-9]|(?<=1[1-9])\\d|(?<=[2-9]\\d)\\d|(?<=^100\\.)[^0]|(?<=^100\\.0)[^0]|(?<=\\d{3})(?!\\.).|\\..*\\.|(?<=\\.\\d{2})\\d'"
				[placeholder]="'Ingrese el porcentaje de negociación'"
			/>
		</frs-field>
	</div>
</view-card>