
<section class="w-full h-full flex flex-col !font-light overflow-hidden">
    <main class="relative flex-1 h-full flex flex-col justify-center">
        <create-operation-table-filters
            [isLoadingApiGetFormalizedInvoiceList]="_isLoadingApiGetFormalizedInvoiceList()"
            [filterFunction]="_getFormalizedInvoiceListForFilter.bind(this)"
            class="w-full flex justify-end gap-2.5 p-2.5"
        />

        <hr />

        <article class="flex-1 flex flex-col p-2.5">
            @if (_isLoadingApiGetFormalizedInvoiceList()) {
                <general-loader [message]="'Cargando facturas formalizadas...'" />
            } @else {
                <div class="w-full h-[calc(100dvh-198px)] overflow-auto">
                    @if(_invoices()?.data?.length) {

                        <inherit-table class="min-w-[960px] h-full flex-1 animate-opacity-in">
                            @for (header of _headers; track $index; let first = $first) {
                                <th class="w-72">
                                    <span [ngClass]="{ 'pl-2.5': first }" class="block text-start">
                                        {{ header }}
                                    </span>
                                </th>
                            }
    
                            @for (column of _invoices()?.data; track column.id; let index = $index) {
                                <tr>
                                    <td class="pl-2.5">
                                        <frs-checkbox
                                            [control]="_selectControls()[index]"
                                            [label]="column.invoiceNumber"
                                            (change)="_onChangeSelectSingleInvoice(index, column)"
                                            [class]="'!text-xs'"
                                        />
                                    </td>
    
                                    <td>{{ column.clientIdentification }}</td>
                                    
                                    <td [title]="column.billerLegalName">
                                        <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                            {{ column.billerLegalName }}
                                        </span>
                                    </td>
                                    
                                    <td [title]="column.clientLegalName">
                                        <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                            {{ column.clientLegalName }}
                                        </span>
                                    </td>

                                    <td>
                                        <invoice-status
                                            [statusId]="column.idState"
                                            [statusName]="column.stateName"
                                        />
                                    </td>
    
                                    <td>{{ column.expeditionDate }}</td>
                                    <td>{{ column.expirationDate }}</td>
                                    <td>{{ column.payableAmount | currency }}</td>
                                </tr>
                            }
                        </inherit-table>
                    } @else {
                       <empty-result />
                    }
                </div>
            }
        </article>
         @if (_showPrepareInvoiceSection()) {
                <create-operation-prepare-operation-drawer
                    [@slideEffect]
                    [fnGetOperationFinancierList]="_getOperationsFinancierList.bind(this)"
                    [fnPostGetOperationSummary]="_postGetOperationSummary.bind(this)"
                    [isLoadingApiPostGetOperationSummary]="_isLoadingApiPostGetOperationSummary()"
                    [operationSummary]="_operationSummary()"
                    (onSelectFinancier)="_onSelectFinancier($event)"
                    class="absolute top-0 left-0 z-10 w-full h-full flex flex-col xl:flex-row gap-2.5 p-2.5 bg-background overflow-y-auto"
                />
            }
    </main>
    
    <hr />

    <inherit-table-footer
        [totalPages]="_invoices()?.countPages || 1"
        [paginatorFunction]="_getFormalizedInvoiceListForPaginator.bind(this)"
        class="reative z-20 h-14 flex items-center justify-end gap-2.5 !text-[0.80rem] p-2.5 bg-background animate-opacity-in"
    >
        <section class="flex-1 flex gap-2.5">
            <button
                frs-button
                [variant]="'secondary'"
                [disabled]="_isLoadingApiPostCreateOperation() || !_getSelectedInvoices().length"
                (click)="_onClickToggleShowPrepareOperation()"
                class="w-40"
            >
                @if (_showPrepareInvoiceSection()) {
                    Volver al listado
                } @else {
                    Preparar operación
                }
            </button>
            
            <button
                frs-button
                (click)="_onClickCreateOperation()"
                [disabled]="_isLoadingApiPostCreateOperation() || !_isSelectedFinancier() || !_operationSummary()"
                class="w-40"
            >
                @if (_isLoadingApiPostCreateOperation()) {
                    <loading-icon [color]="'#FFFFFF'" class="size-6" />
                } @else {
                    Crear operación
                }
            </button>
        </section>
    </inherit-table-footer>
</section>
