<section class="flex-1 flex flex-col overflow-y-auto">
    <ul class="flex-1 flex flex-col gap-2.5 text-xs">
        @for (permission of permissions(); track $index; let last = $last) {
            <li>
                <aside-link
                    [activeRoute]="_active()"
                    [label]="permission.name"
                    [href]="permission.route"
                    [subModules]="permission.submodules"
                />
                
                @if(!last) {
                    <hr class="mt-2.5">
                }
            </li>
        }
    </ul>
</section>