<form [formGroup]="_form" class="flex flex-col gap-5 animate-opacity-in">
    <section>
        <h1 class="text-2xl font-semibold">Información Bancaria</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text- text-foreground/60">
            Por favor, completa
            toda la información siguiendo las instrucciones.
        </p>
    </section>
    <section class="relative grid place-content-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        <frs-field [label]="'Banco'">
            <frs-select
                #field
                [control]="_bankName">
                <frs-select-trigger [placeholder]="'Seleccione un banco'" />
                <frs-select-options [options]="_bankNameOptions() || []" />
            </frs-select>
        </frs-field>

        <frs-field [label]="'Tipo de cuenta'">
            <frs-select
                #field
                [control]="_bankAccountType">
                <frs-select-trigger [placeholder]="'Seleccione un tipo de cuenta'" />
                <frs-select-options [options]="_bankAccountTypeOptions || []" />
            </frs-select>
        </frs-field>

        <frs-field [label]="'Número de cuenta'" [class]="'flex-1'">
            <frs-input
                #field
                [control]="_bankAccountNumber"
                [placeholder]="'Ingrese el número de cuenta'"
                [type]="'custom'"
                [mask]="'xxxxxxxxxxxx'"
                [regex]="'[^\\d]'"
                [disabled]="_disableBankAccountNumber()"
            />
        </frs-field>

        <frs-field [forceShowAsterisk]="true" [label]="'Certificado bancario'">
            <frs-file-input
                #field
                [accept]="'application/pdf'"
                [control]="_getFileControl('bankCertification')"
                [currentFiles]="_files()['bankCertificationFile'] || []"
                (files)="_onUploadFile($event, 'bankCertification')"
            />
        </frs-field>
    </section>
    <section class="mt-5">
        <h1 class="text-2xl font-semibold">Documentación de la empresa</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text- text-foreground/60">
            Por favor, completa
            toda la información siguiendo las instrucciones.
        </p>
    </section>
    <section class="relative grid place-content-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        <frs-field [forceShowAsterisk]="true" [label]="'Cámara de comercio'">
            <frs-file-input
                #field
                [accept]="'application/pdf'"
                [control]="_getFileControl('chamberOfCommerce')"
                [currentFiles]="_files()['chamberOfCommerceFile'] || []"
                (files)="_onUploadFile($event, 'chamberOfCommerce')"
            />
        </frs-field>

        <frs-field [forceShowAsterisk]="true" [label]="'RUT'">
            <frs-file-input
                #field
                [accept]="'application/pdf'"
                [control]="_getFileControl('rut')"
                [currentFiles]="_files()['rutFile'] || []"
                (files)="_onUploadFile($event, 'rut')"
            />
        </frs-field>

        <frs-field [forceShowAsterisk]="true" [label]="'Documento de identidad del representante'">
            <frs-file-input
                #field
                [accept]="'application/pdf'"
                [control]="_getFileControl('legalRepresentativeDni')"
                [currentFiles]="_files()['legalRepresentativeDniFile'] || []"
                (files)="_onUploadFile($event, 'legalRepresentativeDni')"
            />
        </frs-field>
        
        @if(selectedRole() !== '2') {
            <frs-field [forceShowAsterisk]="true" [label]="'Estados financieros'">
                <frs-file-input
                    #field
                    [accept]="'application/pdf'"
                    [control]="_getFileControl('financialStatements')"
                    [currentFiles]="_files()['financialStatementsFile'] || []"
                    (files)="_onUploadFile($event, 'financialStatements')"
                />
            </frs-field>
        }
    </section>
</form>