<frs-date-picker
    #field
    [rangeControl]="_searchPerExpeditionDateRangeControl"
    [rangeMode]="true"
    [class]="'max-w-64 text-sm'"
    [calendarClass]="'placeholder:text-[0.8rem] text-[0.8rem]'"
    [formatType]="'isoShort'"
    [disabled]="false"
    [placeholder]="'Buscar por rango de expedición'"
/>


<frs-date-picker
    #field
    [rangeControl]="_searchPerExpirationDateRangeControl"
    [rangeMode]="true"
    [class]="'max-w-64 text-sm'"
    [calendarClass]="'placeholder:text-[0.8rem] text-[0.8rem]'"
    [formatType]="'isoShort'"
    [disabled]="false"
    [placeholder]="'Buscar por rango de vencimiento'"
/>

<frs-select
    #field
    [control]="_searchSelectSearchTypeControl"
    [class]="'w-52'"
>
    <frs-select-trigger [placeholder]="'Tipo de búsqueda'" />
    <frs-select-options [options]="_searchSelectOptions || []" [class]="'max-h-fit'"/>
</frs-select>

<frs-input
    [control]="_searchInputControl"
    [beforeIcon]="_searchIcon"
    [disabled]="_currentSelection().length === 0"
    [placeholder]="_currentSelectionPlaceholder()"
    class="w-64 flex-grow-0"
/>

<button
    frs-button
    (click)="_onClickResetFilters()"
    [disabled]="isLoadingApiGetFormalizedInvoiceList()"
    class="flex items-center flex-nowrap gap-1.5 bg-pantone hover:bg-pantone/95"
>
    <i-lucide [img]="_resetFilterIcon" class="size-4" />
    Restablecer filtros
</button>