<main class="relative w-full h-dvh flex flex-col">
    <top-bar
        [identify]="_configuration()?.identity || null"
        [roleExecution]="_configuration()?.roleExecutions || null"
        class="min-h-16"    
    />
    <article class="flex-1 flex h-full overflow-hidden">
        <aside-nav
            [permissions]="_configuration()?.permissions || []"
            class="flex-shrink-0 w-[350px] hidden xl:flex lg:flex-col py-2.5 border-r"
        />
        <div class="flex-1 p-2.5 pr-0 xl:pr-2.5">
            <router-outlet class="h-full"/>
        </div>
    </article>
    <transition-view />
</main>