<section class="w-full h-full flex flex-col !font-light">
    <main class="flex-1 h-full flex flex-col justify-center">
        <view-proof-disbursement-details-table-filters
            [roleExecution]="_roleExecution()?.id || 0"
            [isLoadingApiGetProofDisbursements]="_isLoadingApiGetProofDisbursementDetails()"
            [filterFunction]="_getProofDisbursementDetailsForFilter.bind(this)"
            class="w-full flex justify-end gap-2.5 p-2.5"
        />

        <hr />

        <article class="flex-1 flex flex-col p-2.5">
            @if (_isLoadingApiGetProofDisbursementDetails()) {
                <general-loader [message]="'Cargando comprobantes...'" />
            } @else {
                <div class="w-full h-[calc(100dvh-198px)] overflow-auto">
                    @if(_proofDisbursementDetails()?.data?.length) {

                        <inherit-table class="min-w-[960px] h-full flex-1 animate-opacity-in">
                            @for (header of _headers; track $index; let first = $first) {
                                <th class="w-72">
                                    <span [ngClass]="{ 'pl-2.5': first }" class="block text-start">
                                        {{ header }}
                                    </span>
                                </th>
                            }
                            
                            @if (_confirmationAction()) {
                                <th class="w-72">
                                    <span class="block text-start">
                                        gestión
                                    </span>
                                </th>
                            }

                            @for (column of _proofDisbursementDetails()?.data; track $index) {
                                <tr>
                                    <td class="pl-2.5">{{ column.idOperationDisbursementTypeName }}</td>

                                    <td>
                                        <order-status
                                            [statusId]="column.idOperationDisbusementState"
                                            [statusName]="column.idOperationDisbusementStateName"
                                        />
                                    </td>
    
                                    <td>{{ column.amount| currency }}</td>
                                    <td [title]="column.description">
                                        <span class="block line-clamp-1 overflow-hidden truncate uppercase">
                                            {{ column.description }}
                                        </span>
                                    </td>

                                    <td>
                                        <button
                                            frs-button
                                            [title]="`Ver pdf del comprobante: ${column.id}`"
                                            [variant]="'link'"
                                            (click)="_onClickViewPdf(column.id)"
                                            class="px-0 text-xs uppercase"
                                        >
                                            Ver PDF
                                        </button>
                                    </td>

                                    @if (_confirmationAction()) {
                                        <td class="space-x-5">
                                            <div class="flex items-center justify-start">
                                                <button
                                                    frs-button
                                                    [title]="'Aceptar comprobante'"
                                                    [variant]="'link'"
                                                    [disabled]="column.idOperationDisbusementState !== _eDisbursementStatus.PENDING || _isLoadingApiPostConfirmProofDisbursement() || _isLoadingApiPostRejectProofDisbursement()"
                                                    (click)="_onClickConfirmProofDisbursement(column.id)"
                                                    [class]="'min-w-20 px-0 justify-start text-xs uppercase'"
                                                >
                                                    @if (_isLoadingApiPostConfirmProofDisbursement() && column.id === this._currentTarget()) {
                                                        <loading-icon [color]="'#269C68'" class="size-6" />
                                                    } @else {
                                                        Aceptar
                                                    }
                                                </button>
                                                
                                                <button
                                                    frs-button
                                                    [title]="'Aceptar comprobante'"
                                                    [variant]="'link'"
                                                    [disabled]="column.idOperationDisbusementState !== _eDisbursementStatus.PENDING || _isLoadingApiPostConfirmProofDisbursement() || _isLoadingApiPostRejectProofDisbursement()"
                                                    (click)="_onClickRejectProofDisbursement(column.id)"
                                                    [class]="'min-w-20 px-0 justify-start text-xs text-destructive uppercase'"
                                                >
                                                    @if (_isLoadingApiPostRejectProofDisbursement() && column.id === this._currentTarget()) {
                                                        <loading-icon [color]="'#F24848'" class="size-6" />
                                                    } @else {
                                                        Rechazar
                                                    }
                                                </button>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </inherit-table>
                    } @else {
                       <empty-result [message]="'No se encontraron comprobantes'" />
                    }
                </div>
            }
        </article>
    </main>

    <hr />

    <inherit-table-footer
        [totalPages]="_proofDisbursementDetails()?.countPages || 0"
        [currentPage]="_getProofDisbursementDetailsParams().Page || 1"
        [paginatorFunction]="_getProofDisbursementDetailsForPaginator.bind(this)"
        class="h-14 flex items-center justify-end gap-2.5 !text-[0.80rem] p-2.5 animate-opacity-in"
    />
</section>
