<article class="flex gap-2.5
    [&_ul]:space-y-2
    [&_ul>li]:flex 
    [&_ul>li]:items-center 
    [&_ul>li]:gap-1 
    [&_ul>li]:font-medium
    [&_ul>li>span]:leading-5 
    [&_ul>li>span:first-child]:font-medium 
    [&_ul>li>span:last-child]:font-light 
    [&_ul>li>span:last-child]:text-xs"
>
    <div class="flex-1 flex flex-col gap-2.5 text-sm">
        <section class="px-2.5 py-2 bg-secondary">
            <h2 class="font-semibold text-xs uppercase">Información general</h2>
        </section>
        <ul class="px-2.5">
            <li>
                <span>Número de la orden: </span>
                <span>{{ activeOperation()?.orderNumber }}</span>
            </li>
            <li>
                <span>Estado de la orden: </span>
                <span>
                    <order-status [statusId]="activeOperation()?.idOperationState!"
                        [statusName]="activeOperation()?.operationStateName!" class="[&_>span]:max-w-[300px]" />
                </span>
            </li>
            <li>
                <span>Fecha de la orden: </span>
                <span>{{ activeOperation()?.operationDate?.split('T')![0]}}</span>
            </li>
        </ul>
    </div>

    <div class="flex-1 flex flex-col gap-2.5 text-sm">
        <section class="px-2.5 py-2 bg-secondary">
            <h2 class="font-semibold text-xs uppercase">Información de importes</h2>
        </section>
        <ul class="px-2.5">
            <li>
                <span>Monto total: </span>
                <span>{{ activeOperation()?.totalInvoiceAmount | currency }}</span>
            </li>
            <li>
                <span>Monto de reajuste: </span>
                <span>{{ activeOperation()?.totalInvoiceReadjustmentAmount | currency }}</span>
            </li>
        </ul>
    </div>

    <div class="flex-1 flex flex-col gap-2.5 text-sm">
        <section class="px-2.5 py-2 bg-secondary">
            <h2 class="font-semibold text-xs uppercase">Información del proveedor</h2>
        </section>
        <ul class="px-2.5">
            <li>
                <span>Nombre legal: </span>
                <span>{{ activeOperation()?.providerLegalName }}</span>
            </li>
            <li>
                <span>Tipo de documento: </span>
                <span>{{ activeOperation()?.providerIdentificationType }}</span>
            </li>
            <li>
                <span>Número de documento: </span>
                <span>{{ activeOperation()?.providerIdentificationNumber }}</span>
            </li>
        </ul>
    </div>
</article>