<section class="w-full h-full flex flex-col !font-light">
    <main class="flex-1 h-full flex flex-col gap-2.5 overflow-auto p-2.5">
        <view-card [title]="'Detalles de la orden'" class="h-fit">
            @switch (_roleExecution()?.id) {
                @case (_eRoleExecution.PAYER) {
                    <active-operations-details-operation-details [activeOperation]="_activeCurrentOperation()" />
                }
                @case (_eRoleExecution.FINANCIER) {
                    <active-operations-details-provider-details [activeOperation]="_activeCurrentOperation()" />
                }
                @case (_eRoleExecution.PROVIDER) {
                    <active-operations-details-financier-details [activeOperation]="_activeCurrentOperation()" />
                }
            }
        </view-card>
        <view-card [title]="'Facturas de la orden'" class="flex-1">
            <active-operations-order-operations-table />
        </view-card>
    </main>
</section>