<section class="w-[1400px] flex flex-col gap-2.5 rounded-md bg-background">
    <h2 class="text-xs uppercase font-semibold">
        Detalles de la factura:
        <span class="font-light">{{ data()?.invoice?.invoiceNumber }}</span>
    </h2>
    <main class="flex-1 flex flex-col gap-2.5">
        <view-card
            [title]="'información de la factura'"
        >
            <active-operations-details-order-invoice-details
                [roleExecution]="data()?.roleExecution || 0"
                [activeInvoice]="data()?.invoice"
            />
        </view-card>

        <article class="w-full h-[400px] flex gap-2.5 overflow-hidden">
            <view-card
                [title]="'eventos radian de la factura'"
                class="flex-1"
            >
                <section>
                    
                </section>
            
            </view-card>
            
            <view-card
                [title]="'historial de estados de la factura'"
                class="flex-1"
            >
            
            </view-card>
        </article>
    </main>
</section>