<section class="w-[1400px] flex flex-col gap-2.5 rounded-md bg-background">
    @let invoice = data().invoice;
    @let roleExecution = data().roleExecution;
    @let orderInvoiceRadianEvents = data().orderInvoiceRadianEvents;
    @let isLoadingOrderInvoiceRadianEvents = data().isLoadingOrderInvoiceRadianEvents;
    @let orderInvoiceStateTraceability = data().orderInvoiceStateTraceability;
    @let isLoadingOrderInvoiceStateTraceability = data().isLoadingOrderInvoiceStateTraceability;

    <h2 class="text-xs uppercase font-semibold">
        Detalles de la factura:
        <span class="font-light">{{ invoice.invoiceNumber }}</span>
    </h2>
    <main class="flex-1 flex flex-col gap-2.5">
        <view-card
            [title]="'información de la factura'"
        >
            <active-operations-details-order-invoice-details
                [roleExecution]="roleExecution"
                [activeInvoice]="invoice"
            />
        </view-card>

        <article class="w-full h-[400px] flex gap-2.5 overflow-hidden">
            <view-card
                [title]="'eventos radian de la factura'"
                class="flex-1"
            >
                @if(isLoadingOrderInvoiceRadianEvents()){
                    <div class="flex-1 w-full h-full grid place-content-center gap-2.5">
                        <facthor-logo-animated class="size-10 mx-auto" />
                        <span class="font-light text-sm text-center text-foreground/60 animate-pulse">
                            Cargando facturas...
                        </span>
                    </div>
                } @else {
                    @if (orderInvoiceRadianEvents()?.length) {
                        <ul class="flex-1 w-full h-full flex flex-col gap-2.5 px-2.5 overflow-y-auto animate-opacity-in">
                            @for (radianEvent of orderInvoiceRadianEvents(); track $index; let last = $last) {
                                <li class="flex gap-2">
                                    <div class="min-w-[3px] h-full bg-secondary-facthor"></div>
                                    <div class="flex flex-col gap-1">
                                        <span class="text-sm font-medium">{{ radianEvent.name }}</span>
                                        <div class="flex items-center gap-2.5 text-[0.825rem] text-foreground/60 [&_svg]:size-3.5">
                                            <div class="flex items-center gap-1">
                                                <i-lucide [img]="_clockIcon" />
                                                <p class="pt-[4px]">{{ radianEvent.issueTime }}</p>
                                            </div>
                                            <div class="flex items-center gap-1">
                                                <i-lucide [img]="_calendarIcon" />
                                                <p class="pt-[4px]">{{ radianEvent.issueDate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @if (!last) {
                                    <hr>
                                }
                            }
                        </ul>
                    } @else {
                        <empty-result 
                            [message]="'La operación no cuenta con estados.'"
                        />
                    }
                }
            
            </view-card>
            
            <view-card
                [title]="'historial de estados de la factura'"
                class="flex-1"
            >
                @if(isLoadingOrderInvoiceStateTraceability()){
                    <div class="flex-1 w-full h-full grid place-content-center gap-2.5">
                        <facthor-logo-animated class="size-10 mx-auto" />
                        <span class="font-light text-sm text-center text-foreground/60 animate-pulse">
                            Cargando facturas...
                        </span>
                    </div>
                } @else {
                    @if (orderInvoiceStateTraceability()?.length) {
                        <ul class="flex-1 w-full h-full flex flex-col gap-2.5 px-2.5 overflow-y-auto animate-opacity-in">
                            @for (stateTraceability of orderInvoiceStateTraceability(); track $index; let last = $last) {
                                @let date = stateTraceability.creationDate.split('T');
                
                                <li class="flex gap-2">
                                    <div class="inline-block min-w-[3px] h-full bg-secondary-facthor"></div>
                                    <div class="flex flex-col gap-1">
                                        <span class="text-sm font-medium">{{ stateTraceability.stateName }}</span>
                                        <div class="flex items-center gap-2.5 text-[0.825rem] text-foreground/60 [&_svg]:size-3.5">
                                            <div class="flex items-center gap-1">
                                                <i-lucide [img]="_clockIcon" />
                                                <p class="pt-[4px]">{{ date[1].split('.')[0] }}</p>
                                            </div>
                                            <div class="flex items-center gap-1">
                                                <i-lucide [img]="_calendarIcon" />
                                                <p class="pt-[4px]">{{ date[0] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @if (!last) {
                                    <hr>
                                }
                            }
                        </ul>
                    } @else {
                        <empty-result 
                            [message]="'La operación no cuenta con estados.'"
                        />
                    }
                }
            
            </view-card>
        </article>
    </main>
</section>