<section class="w-full h-full flex flex-col !font-light">
    <main class="flex-1 h-full flex flex-col justify-center">
        <view-upload-invoice-table-filters
            [isLoadingApiGetInvoiceList]="_isLoadingApiGetInvoiceList()"
            [filterFunction]="_getInvoiceListForFilter.bind(this)"
            class="w-full flex justify-end gap-2.5 p-2.5"
        />

        <hr />

        <article class="flex-1 flex flex-col p-2.5">
            @if (_isLoadingApiGetInvoiceList()) {
                <general-loader [message]="'Cargando facturas...'" />
            } @else {
                <div class="w-full h-[calc(100dvh-198px)] overflow-auto">
                    @if(_invoices()?.data?.length) {
                        <inherit-table class="h-full flex-1 animate-opacity-in">
                            @for (header of _headers; track $index; let first = $first) {
                                <th class="w-72">
                                    <span [ngClass]="{ 'pl-2.5': first }" class="block text-start">
                                        {{ header }}
                                    </span>
                                </th>
                            }
    
                            @for (column of _invoices()?.data; track $index) {
                                <tr>
                                    <td class="pl-2.5">{{ column.invoiceNumber }}</td>
    
                                    <td [title]="column.billerLegalName">
                                        <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                            {{ column.billerLegalName }}
                                        </span>
                                    </td>
    
                                    <td [title]="column.clientLegalName">
                                        <span class="block w-60 line-clamp-1 overflow-hidden truncate">
                                            {{ column.clientLegalName }}
                                        </span>
                                    </td>
    
                                    <td>
                                        <invoice-status
                                            [statusId]="column.idState"
                                            [statusName]="column.stateName"
                                        />
                                    </td>
    
                                    <td>{{ column.expeditionDate }}</td>
                                    <td>{{ column.expirationDate }}</td>
                                    <td>{{ column.payableAmount | currency }}</td>
    
                                    <td>
                                        <button
                                            [title]="`Ver eventos radian de la factura ${column.invoiceNumber}`"
                                            frs-button
                                            [size]="'icon'"
                                            [variant]="'link'"
                                            [disabled]="!column.radianEvents.length"
                                            (click)="_onClickSelectRadianEvents(column)"
                                            [class]="'px-0 justify-start text-xs uppercase'"
                                        >
                                            ver eventos
                                        </button>
                                    </td>
                                </tr>
                            }
                        </inherit-table>
                        
                    } @else {
                        <empty-result />
                    }
                </div>
            }
        </article>
    </main>

    <hr />

    <inherit-table-footer
        [totalPages]="_invoices()?.countPages || 1"
        [currentPage]="_getInvoiceListParams().Page || 1"
        [paginatorFunction]="_getInvoiceListForPaginator.bind(this)"
        class="h-14 flex items-center justify-end gap-2.5 !text-[0.80rem] p-2.5 animate-opacity-in"
    />
</section>

@if (_radianEventsSelected().length) {
    <view-upload-invoice-radian-events-drawer
        [@slideEffect]
        [invoiceNumber]="_invoiceNumberSelected()"
        [radianEvents]="_radianEventsSelected()"
        (closeDrawerEmitter)="_onEmitCloseRadianEventsDrawer()"
        class="absolute top-0 left-0 z-10 w-[350px] h-full p-2.5 pr-0 pt-5 border-r bg-background"
    />
}
