<section class="h-full flex flex-col gap-5 animate-opacity-in">
    <section>
        <h1 class="text-2xl font-semibold">Resumen del registro</h1>
        <p class="w-full lg:w-[50%] lx:w-[40%] text-foreground/60">
            A continuación se visualiza toda la información ingresada en los pasos anteriores. <br>
            Por favor, verifique bien la información antes de enviar.
        </p>
    </section>
    <section class="relative flex-1 space-y-4">
        <h2 class="text-xl font-semibold py-1 rounded-md bg-secondary/50">Información de la empresa</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 pb-1">
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Tipo de persona',
                        value: 'Jurídica'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Empresa',
                        value: _businessForm['businessName']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Nombre comercial',
                        value: _businessForm['businessTradeName']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Nit',
                        value: _businessForm['businessNit']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'País',
                        value: 'Colombia'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Actividad económica',
                        value: _businessForm['businessEconomicActivity'][0].label
                    }"
                />
            </ul>
            <ul class="flex flex-col gap-2.5"> 
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Departamento',
                        value: _businessForm['businessProvince'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Ciudad',
                        value: _businessForm['businessCity'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Dirección',
                        value:
                            _businessForm['businessAddressStreet'][0].label + ' ' + 
                            _businessForm['businessAddressStreetNumber'] + ' ' + '#' + ' ' +
                            _businessForm['businessAddressStreetSecondaryNumber'] + '-' + ' ' +
                            _businessForm['businessAddressStreetBuildNumber'] + ' ' +
                            _businessForm['businessAddressStreetComplement']  
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Correo electrónico',
                        value: _businessForm['businessEmail'].toLowerCase()
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Número celular',
                        value: '+57' + ' ' + _businessForm['businessPhoneNumber']
                    }"
                />
            </ul>
        </div>
        <hr>
    </section>
    <section class="relative flex-1 space-y-4">
        <h2 class="text-xl font-semibold py-1 rounded-md bg-secondary/50">Representante legal de la empresa</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2.5 pb-1">
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Primer nombre',
                        value: _businessForm['legalRepresentativeName']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Segundo nombre',
                        value: _businessForm['legalRepresentativeSurName'] || 'No aplica'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Primer apellido',
                        value: _businessForm['legalRepresentativeLastName']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Segundo apellido',
                        value: _businessForm['legalRepresentativeSurLastName']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Cargo',
                        value: _businessForm['legalRepresentativeCharge']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Área',
                        value: _businessForm['legalRepresentativeArea']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Número de cédula',
                        value: _businessForm['legalRepresentativeDocumentNumber']
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Fecha de nacimiento',
                        value: _businessForm['legalRepresentativeBirthdate'].toLocaleDateString()
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'País de nacimiento',
                        value: 'Colombia'
                    }"
                />
            </ul>
            <ul class="flex flex-col gap-2.5"> 
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Departamento de nacimiento',
                        value: _businessForm['legalRepresentativeBirthDepartment'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Ciudad de nacimiento',
                        value: 'Colombia'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Fecha de expedición',
                        value: _businessForm['legalRepresentativeExpeditionDate'].toLocaleDateString()
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'País de expedición',
                        value: 'Colombia'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Departamento de expedición',
                        value: _businessForm['legalRepresentativeExpeditionDepartment'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Ciudad de expedición',
                        value: _businessForm['legalRepresentativeExpeditionCity'][0].label
                    }"
                />
                 <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Correo electrónico',
                        value: _businessForm['legalRepresentativeEmail'].toLowerCase()
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Número celular',
                        value:
                            '+57' + ' ' +
                            _businessForm['legalRepresentativePrefix']+ ' ' +
                            _businessForm['legalRepresentativePhoneNumber']
                    }"
                />
            </ul>
        </div>
        <hr>
    </section>
    <section class="relative flex-1 space-y-4">
        <h2 class="text-xl font-semibold py-1 rounded-md bg-secondary/50">Información de bancaria</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2.5 pb-1">
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Banco',
                        value: _documentsForm['bank'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Tipo de cuenta',
                        value: _documentsForm['accountType'][0].label
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Número de cuenta',
                        value: _documentsForm['accountNumber']
                    }"
                />
            </ul>
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detailFile; context: {
                        title: 'Certificado bancario',
                        value: _documentsForm['bankCertificationFile'][0].fileName,
                        fileName: 'bankCertificationFile'
                    }"
                />
            </ul>
        </div>
        <hr>
    </section>
    <section class="relative flex-1 space-y-4">
        <h2 class="text-xl font-semibold py-1 rounded-md bg-secondary/50">Documentación de la empresa</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2.5 pb-1">
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detailFile; context: {
                        title: 'Cámara de comercio',
                        value: _documentsForm['rutFile'][0].fileName,
                        fileName: 'rutFile'
                    }"
                />
                <ng-container
                    *ngTemplateOutlet="detailFile; context: {
                        title: 'Registro único tributario',
                        value: _documentsForm['chamberOfCommerceFile'][0].fileName,
                        fileName: 'chamberOfCommerceFile'
                    }"
                />
            </ul>
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detailFile; context: {
                        title: 'Cédula del representante legal',
                        value: _documentsForm['legalRepresentativeDniFile'][0].fileName,
                        fileName: 'legalRepresentativeDniFile'
                    }"
                />

                @if(_roleForm['option'] !== '2') {
                    <ng-container
                        *ngTemplateOutlet="detailFile; context: {
                            title: 'Estados financieros',
                            value: _documentsForm['financialStatementsFile'][0].fileName,
                            fileName: 'financialStatementsFile'
                        }"
                    />
                }
            </ul>
        </div>
        <hr>
    </section>
    <section class="relative flex-1 space-y-4">
        <h2 class="text-xl font-semibold py-1 rounded-md bg-secondary/50">Configuración de la cuenta</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2.5 pb-1">
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Primer nombre',
                        value: _accountForm['firsName']
                    }"
                />
            
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Segundo nombre',
                        value: _accountForm['surName'] || 'No aplica'
                    }"
                />

                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Primer apellido',
                        value: _accountForm['lastName']
                    }"
                />
                
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Segundo apellido',
                        value: _accountForm['surLastName']
                    }"
                />
            </ul>
            <ul class="flex flex-col gap-2.5">
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Número de cédula',
                        value: _accountForm['dniNumber']
                    }"
                />
            
                <ng-container
                    *ngTemplateOutlet="detail; context: {
                        title: 'Correo electrónico',
                        value: _accountForm['email'].toLowerCase()
                    }"
                />

                <ng-container
                    *ngTemplateOutlet="detailPassword; context: {
                        title: 'Contraseña',
                        value: _accountForm['password']
                    }"
                />
            </ul>
        </div>
    </section>
</section>

<ng-template #detail let-title="title" let-value="value">
    <li class="flex items-start gap-2.5">
        <p><span class="text-nowrap font-semibold mr-2">{{title}}:</span> <span class="text-foreground/60">{{value | titlecase}}</span></p>
    </li>
</ng-template>

<ng-template #detailPassword let-title="title" let-value="value">
    <li class="flex items-start flex-wrap select-none">
        <span class="text-nowrap font-semibold mr-2">{{title}}:</span>
        <span (click)="_onClickPassword()" class="text-primary underline underline-offset-4 cursor-pointer">{{_showPassword() ? value : '**********' }}</span>
    </li>
</ng-template>

<ng-template #detailFile let-title="title" let-value="value" let-fileName="fileName">
    <li class="flex items-start flex-wrap select-none">
        <span class="text-nowrap font-semibold mr-2">{{title}}:</span>
        <span (click)="_onClickFile(fileName)" class="text-primary underline underline-offset-4 cursor-pointer">{{value | titlecase}}</span>
    </li>
</ng-template>