<section
    class="xl:w-[25vw] h-full hidden xl:flex flex-col text-center p-[1.5vw] text-white bg-cover bg-[url('/assets/auth/layout-hero.webp')]">
    <article class="flex-1 flex items-start justify-center">
        <a class="block w-[60%]" [routerLink]="['/']"><facthor-logo /></a>
    </article>
    <article>
        <h2 class="text-[1.5vw] font-bold">EN FACTHOR</h2>
        <p class="text-[0.85vw]  text-white/80">
            Valoramos las relaciones a largo plazo con nuestros clientes, basadas
            en la honestidad y la transparencia.
        </p>
    </article>
</section>