<article class="h-full flex flex-col gap-5 font-light">
    <section class="flex flex-col pb-5 border-b">
        <h1 class="text-4xl font-semibold">¡Bienvenido!</h1>
        <div class="flex flex-col lg:flex-row justify-between items-baseline lg:items-center gap-5">
            <p class="text-foreground/60">
                Este es el inicio en el mundo del factoring, por favor, sigue
                toda la información siguiendo las instrucciones.
            </p>
            <div class="flex justify-start lg:justify-end flex-wrap lg:flex-nowrap gap-4 pl-0.5 md:pl-0">
                <sign-up-role-step [active]="_formSteps()[0]" [label]="'Selección de rol'" />
                <sign-up-role-step [active]="_formSteps()[1]" [label]="'Empresa'" />
                <sign-up-role-step [active]="_formSteps()[2]" [label]="'Documentación'" />
                <sign-up-role-step [active]="_formSteps()[3]" [label]="'Usuario'" />
                <sign-up-role-step [active]="_formSteps()[4]" [label]="'Finalizar'" />
            </div>
        </div>
    </section>
    <section class="flex-1 flex flex-col gap-5 px-1.5 pb-2 md:overflow-y-auto">
        @switch(_currentStep()) {
            @case(0) {<sign-up-role-form (formChange)="_onFormChange($event)" />}
            @case(1) {<sign-up-business-form (formChange)="_onFormChange($event)" />}
            @case(2) {<sign-up-documents-form [selectedRole]="_selectedRole()" (formChange)="_onFormChange($event)" />}
            @case(3) {<sign-up-account-form (formChange)="_onFormChange($event)"/>}
            @case(4) {<sign-up-form-summary />}
        }
    </section>
    <section class="flex flex-col lg:flex-row items-center justify-between gap-5">
        <span class="text-sm font-medium text-foreground/60">
            ¿Ya tienes una cuenta?
            <a
                [routerLink]="['/']"
                aria-label="Ir al inicio de sesión"
                class="tinline-block w-fit text-primary hover:underline underline-offset-4"
            >
                Inicia sesión aquí
            </a>
        </span>
        <div class="flex gap-5 [&_button]:w-24 p-1">
            <button frs-button [disabled]="_isAvailablePreviousStep()" (click)="_previousStep()">Anterior</button>
            <button frs-button [disabled]="_isAvailableNextStep()" (click)="_nextStep()">
                @if(_currentStep() === 4) {
                    Enviar
                } @else {
                    Siguiente
                }
            </button>
        </div>
    </section>
</article>