@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 166 64% 39%;
        --primary-facthor: 205, 83%, 9%;
        --primary-foreground: 0 0% 98%;
        --accent: 160 100% 40%;
        --accent-foreground: 0 0% 98%;
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --secondary: 240 4.8% 95.9%;
        --secondary-facthor: 165, 63%, 39%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-facthor: 162, 100%, 40%;
        --muted-foreground: 240 3.8% 46.1%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0rem;
    }

    @font-face {
        font-family: 'nunito';
        src: url('/fonts/nunito.woff2') format('woff2');
        font-weight: 100 900;
        font-display: swap;
    }

    *:focus-visible {
        outline: 1px solid hsl(var(--primary));
        outline-offset: 4px;
        border-radius: calc(var(--radius) - 0.1rem);
    }

    body {
        font-family: 'nunito', sans-serif;
        color: #041C2C;
    }
}