<div (click)="_onClickOpenSubRoutes()" class="flex items-center gap-2 p-2.5 rounded-md hover:bg-secondary cursor-pointer select-none transition-colors">
    <i-lucide
        [img]="icon()"
        [strokeWidth]="1.5"
        [size]="18"
        [class.-rotate-90]="!_openSubRoutes()"
        class="transition-transform duration-300"
    />
    <span
        class="font-semibold text-foreground uppercase mt-[2px]"
    >{{ label() }}</span>
</div>
@if(_openSubRoutes()) {
    <ul [@subRoutes] class="flex flex-col gap-2 overflow-hidden">
        @for (module of subModules(); track $index) {
            @if(module.submodules && module.submodules.length > 1) {
                <li class="py-2">
                    <aside-sub-link
                        [label]="module.name || 'nombre pendiente'"
                        [href]="module.route"
                        [type]="'separator'"
                    />
                </li>

                @for (subModule of module.submodules; track $index) {
                    <li>
                        <aside-sub-link
                            [activeRoute]="activeRoute()"
                            [label]="subModule.name || 'nombre pendiente'"
                            [href]="module.route"
                        />
                    </li>
                }
            } @else {
                <li>
                    <aside-sub-link
                        [activeRoute]="activeRoute()"
                        [label]="module.name || 'nombre pendiente'"
                        [href]="module.route"
                    />
                </li>
            }
        }
    </ul>    
}