<nav class="flex p-2.5 border-b">
    <section class="flex-1"></section>
    <section class="flex-1 flex items-center justify-end gap-2.5">
        <frs-avatar [size]="'sm'">
            <frs-avatar-fallback [name]="identify()?.tradeName || ''" />
        </frs-avatar>
        <div class="flex flex-col text-xs md:text-sm">
            <span class="font-semibold">{{ identify()?.tradeName | titlecase}}</span>
            @if(roleExecution() !== null ) {
                <span class="text-[0.70rem] md:text-xs">{{ roleExecution()![0].name || '' | titlecase }}</span>
            }
        </div>
    </section>
</nav>